In [ ]:
#1. Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3
import pandas as p
roll = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Shubh Sinha", "Steve Smith", "Sonakshi Sinha", "Elon Musk", "Glenn Maxwell", "Shweta Singh", "Anushka Joshi", "Hashim Amla",]
gender = ["M", "M", "F", "M", "M", "F", "F", "M", "F", "M"]
m1 = [100, 97, 63, 24, 52, 92, 71, 53, 63, 89]
m2 = [97, 12, 65, 74, 42, 99, 43, 38, 87, 73]
m3 = [93, 69, 98, 12, 13, 3, 46, 78, 77, 98]
dict = {"ROLL NO":roll, "NAME":name, "GENDER":gender, "MARKS 1":m1, "MARKS 2":m2, "MARKS 3":m3}
x = p.DataFrame(dict)
x

In [ ]:
#2. Create a new column with total marks
tm = []
for i in range(0, 10):
    sum = m1[i] + m2[i] + m3[i]
    tm.append(sum)
dict["TOTAL MARKS"]=tm
x1 = p.DataFrame(dict)
x1

In [ ]:
#3. Find the lowest marks in Marks1
min=0
for i in range(0, 10):
    if (m1[i]<m1[min]):
        min = i
print(name[min],"has the lowest marks in Marks 1 :", m1[min])

In [ ]:
#4. Find the Highest marks in Marks2
max=0
for i in range(0, 10):
    if (m2[i]>m2[max]):
        max = i
print(name[max],"has the highest marks in Marks 2 :", m2[max])

In [ ]:
#5. Find the average marks in Marks3
sum=0
for i in range(0, 10):
    sum+=m3[i]
avg=sum/10
print("Average marks in Marks 3 :", avg)

In [ ]:
#6. Find student name with highest average
avg = 0
for i in range(0, 10):
    if (tm[i] > tm[avg]):
        avg = i
print(name[avg],"has the highest average marks :", tm[avg]/3)

In [ ]:
#7. Find how many students failed in Marks2 (<40)
f = 0
for i in range(0, 10):
    if (m2[i]<40):
        f+=1
print(f,"students failed in Marks 2")

In [ ]:
#8. Find how many students have average over 75
count=0
for i in range(0, 10):
    avg = tm[i]/3
    if (avg>75):
        count+=1
print(count, "students have average over 75")

In [ ]:
#9. Print the first 7 values of the data frame
print("The first 7 values of the data frame :")
x.head(n=7)

In [ ]:
#10. Show the 3rd, 5th and 8th observations from the data frame
print("The 3rd, 5th and the 8th observations from the data frame are :")
x.loc[[3, 5, 8]]